{% extends "base_template.html" %}

{% block title %}
Prefix and Infix Calculator
{% endblock %}

{% block main %}


<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <h1>Prefix and Infix Calculator</h1>
      <hr>

      <form method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Prefix Calculation</label>
          <input type="text" class="form-control" id="prefix" name="prefix" placeholder="Enter equation ...">
        </div>

        {% if prefix_answer %}
          <p class="text-danger float-right">Answer: {{ prefix_question }} = {{ prefix_answer }}</p>
        {% endif %}

        <div class="form-group">
          <label>Infix Calculation</label>
          <input type="text" class="form-control" id="infix" name="infix" placeholder="Enter equation ...">
        </div>

        {% if infix_answer %}
          <p class="text-danger float-right">Answer: {{ infix_question }} = {{ infix_answer }}</p>
        {% endif %}

        <button type="submit" class="btn btn-primary">Calculate</button>

      </form>

    </div>
  </div>
</div>

{% endblock %}
